@tailwind base;
@tailwind components;
@tailwind utilities;


/*@import 'normalize.css'; Tailwind a déjà le sien */
@import 'Configuration/variables.css';
@import 'Configuration/typography.css';
/* Auditor */
@import 'Auditor/base.css';
@import 'Auditor/header.css';
/* Animator */
@import 'Animator/base.css';

.gradient-auditor {
    background-image: linear-gradient(125deg, #FF67FF 10%, #FFE27C 85%);
}

.bg-blue-audior {
    background-color: #1C1354;
}

.text-blue-audior {
    color: #1C1354;
}
