.gradient-auditor {
    background-image: linear-gradient(125deg, #ff67ff 10%, #ffe27c 85%);
}

.bg-blue-auditor {
    background-color: #1c1354;
}

.text-blue-auditor {
    color: #1c1354;
}

body.chat-open {
    overflow: hidden;
}

#the-header.chat-open,
#player_container.chat-open {
    position: fixed;
    left: 0;
    right: 0;
}

#the-header.chat-open {
    top: 0;
}
